params{
    config_profile_description = 'Google Cloud Batch API Profile'
    config_profile_contact = 'Hatem Nawar @hnawar'
    config_profile_url = 'https://cloud.google.com/batch'

    //project
    project_id                      = null
    location                        = 'us-central1'
    workdir_bucket                  = null

    //compute
    use_spot                        = true
    boot_disk                       = '100 GB'
    workers_service_account         = null


    //networking
    use_private_ip                  = true
    // Custom VPC should be in this format 'global/networks/[custom_VPC]'
    custom_vpc                      = null
    //Custom subnet should be in this format 'regions/[GCP_Region]/subnetworks/[custom_subnet]'
    custom_subnet                   = null

}

workDir                             = params.workdir_bucket

process{
    executor                        = 'google-batch'
}
google {
    location                        = params.location
    project                         = params.project_id
    batch.network                   = params.custom_vpc
    batch.subnetwork                = params.custom_subnet
    batch.usePrivateAddress         = params.use_private_ip
    batch.spot                      = params.use_spot
    batch.serviceAccountEmail       = params.workers_service_account
    batch.bootDiskSize              = params.boot_disk
}
