manifest {
  description = 'POC of a RNA-seq pipeline implemented with Nextflow and run on Google Batch' 
  author = 'Lynn Langit'
  nextflowVersion = '>=23.04.0'
}
 
params.outdir = "results"
params.reads = "${projectDir}/data/ggal/ggal_gut_{1,2}.fq"
params.transcriptome = "${projectDir}/data/ggal/ggal_1_48850000_49020000.Ggal71.500bpflank.fa"
params.multiqc = "${projectDir}/multiqc"
 
profiles {
  standard {
    process.container = 'quay.io/nextflow/rnaseq-nf:v1.2'
  }

  wave {
    wave.enabled = true
    wave.strategy = ['conda']
    conda.channels = 'seqera,conda-forge,bioconda,defaults'
  }

  docker {
    process.container = 'quay.io/nextflow/rnaseq-nf:v1.2'
    docker.enabled = true
  }

  conda {
    conda.enabled = true
    conda.channels = 'seqera,conda-forge,bioconda,defaults'
  }

  gcb {
      params.transcriptome = 'gs://rnaseq-nf/data/ggal/transcript.fa'
      params.reads = 'gs://rnaseq-nf/data/ggal/gut_{1,2}.fq'
      params.multiqc = 'gs://rnaseq-nf/multiqc'
      process.executor = 'google-batch'
      process.container = '<YOUR_ARTIFACT_REGISTRY>/rnaseq:1.0'                            // assumes you've pulled and pushed rnaSeq container to your GCP Artifact Registry
      process.label = 'rnalangit'                                                          // can set labels on process (also task, not shown here)
      process.maxRetries = 3                                                               // configure to retry on preemption
      workDir = 'gs://batch-demo-data-compute/nf-rnaseq-spot-results' 
      google.region  = 'us-central1'                                                       // set the appropriate GCP region
      google.project = '<YOUR_GCP_PROJECT>'                                                // replace with your GCP project
      google.batch.spot = true                                                             // (optional) can request GCP spot GCE instances
  }

  'gs-data' {
      process.container = 'quay.io/nextflow/rnaseq-nf:v1.2'                                // use default sample container with example input sample files as needed
      params.transcriptome = 'gs://rnaseq-nf/data/ggal/transcript.fa'
      params.reads = 'gs://rnaseq-nf/data/ggal/gut_{1,2}.fq'
  }
}

